


*{
	
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body{
	
  font-family: 'Roboto', sans-serif;
}


.primary{

	color:#032659;
	


}
.lightwhite{
	

	color:rgba(255,255,255,0.9);
	font-size: 26px;
	font-weight:400px;
}

.light2{
	
	color: rgba(255,255,255,0.5);
	font-size: 18px;
	font-weight:200px;
}
header{
	
	padding: 20px 10px;
}

.container{
	
	margin:0 auto;
	max-width:1100px;
	padding-left: 10px;
	padding-right: 10px;
	

}

.fl{
	
	float: left;
	
}

.fr{
	
	float: right;
}
.clearfix:after{
	content: '';
	
	display: block;
	clear: both;
	
	


}

.rightnav{
	
	margin-top:10px;
	
}

.rightnav a{

	text-decoration:none;
	color:#666;
	font-size:14px;
	display:inline-block;

}

.nav-toggle{

	width:50px;
	display: none;
	
	height: 50px;

	margin-right: 20px;
	cursor: pointer;
	
	-webkit-align-items: center;
	        align-items: center;
	

}

.nav-toggle span,.nav-toggle span:before,.nav-toggle span:after{
	

	content: '';
	display: block;
	height: 2px;
	width: 100%;
	background: #333;
	position: relative;
	

}

.nav-toggle span:before{
	
	top:10px;
}

.nav-toggle span:after{
	
	bottom:12px;
}


nav{
	
	padding:30px 0px;

	position:relative;
	color:black;
	
}


ul {
	
	list-style: none;
	margin: 0;
	padding: 0px;
	box-sizing:border-box;
	
}


nav ul >li {
	display: inline-block;
	margin-right:30px;
	
	text-transform: capitalize;
	
	position: relative;
	
	
}

nav ul>li> a{
	
	
	text-decoration: none;
	color:#000000;
	display: inline-block;
	font-size:18px;
	
}

.active{

	color:rgba(51,51,51,1);
	
}


 ul.level1{

	/*background:rgba(0,0,0,0.6);*/
	background: #032659;
	width:150px;
	position: absolute;
	top:0;
	display:none;
	z-index:666;
	padding:10px 10px;
	
	transiton:all 500ms ease-in;


}

 ul.level1>li{
	
	width:100%;
	position: relative;
	cursor:pointer

}

 ul.level1>li a{
	font-size: 13px;
	color:rgba(255,255,255,0.7);
	text-align: center;
	margin-top:10px;
	display:block;
	padding:10x 0px;
	
}

 ul.level1>li a:hover{


	color:rgba(255,255,255,1);
	

}



nav ul>li:hover ul.level1{

	top:100%;
	left:0px;
	right:0px;
	height: auto;
	

	display:block;

}




ul.level1> li:first-child{

	margin-top: 0;
	
	
}





.bg{


	height: 600px;
	text-align:center;
	position:relative;
	background-image: url('https://images.unsplash.com/photo-1451481454041-104482d8e284?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;w=1080&amp;fit=max&amp;s=4fb6668053c6bcc6c2d3cfc0a85eba2a');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;

}

.select{
	width:20%;
	padding:10px 0px;
	margin-right:20px;
	position:relative;
	font-weight: light;
	font-size: 18px;

	border-radius:5px;
	display: inline-block;
	
	border:2px solid white;
	display: inline-block;
	color:rgba(255,255,255,0.7);
	opacity:0;
	
	text-align:center;
	
	transform:translate(0,600px);

	transition:all 300ms ease-in;
	cursor:pointer;
	z-index:-99;
	

	


}

.bg:hover .select{

	transform:translate(0,60px);
	opacity:1;
	z-index:99;

}

.main{
	

	text-align: left;
	max-width:960px;
	margin: 0 auto;
	
	
	

}

.main h1{

	
	display: inline-block;
	margin: 200px 0px 20px 0px;
	letter-spacing:5px;
	font-size: 46px;
}

.main p{
	line-height:26px;

}

.schedule{
	text-align:left;
	
	position: absolute;
	top:0;
	color: white;
	
	
	-webkit-transform: translateY(0px);
	   -moz-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	     -o-transform: translateY(0px);
	        transform: translateY(0px);
	width:40%;
	
	border:1px solid white;
	background:rgba(0,0,0,0.6); 
	/*	background: rgba(3,38,89,0.6);*/
	z-index:1;

	opacity:0;
	margin-left: 0px;
	-webkit-transition: all 500ms ease-in;
	   -moz-transition: all 500ms ease-in;
	    -ms-transition: all 500ms ease-in;
	     -o-transition: all 500ms ease-in;
	        transition: all 500ms ease-in;
	padding:20px ;

}
.schedule h3{
	
	margin-bottom:20px;
	
}

.schedule p{
	
	margin-bottom:10px;
	line-height:20px;
}
.book{
	
	text-decoration: none;
	
	padding:5px 20px;
	display:inline-block;
	font-size:18px;
	background:#00a651;
	color:white;
	
}

.book:hover{
	
  background:#00a651;

}

.close{
	
	position: absolute;
	padding:5px;
	font-size:10px;
	text-decoration: none;
	background:red;
	color:white;
	display:block;
	text-align:center;

	top: 5px;
	right:5px;
	
	z-index:102;
	

}
.reserve{
	text-align:left;
	color:white;

	background:rgba(0,0,0,0.7);
	position: absolute;
	left: 0px;
	
	
	
	top:0px;
	
	width:50%;
	
	
	
	opacity:0;
	
	padding:20px;
	
	-webkit-transform: translate(-200px,20px);
	   -moz-transform: translate(-200px,20px);
	    -ms-transform: translate(-200px,20px);
	     -o-transform: translate(-200px,20px);
	        transform: translate(-200px,20px);
	-webkit-transition: all 300ms ease-in;
	   -moz-transition: all 300ms ease-in;
	    -ms-transition: all 300ms ease-in;
	     -o-transition: all 300ms ease-in;
	        transition: all 300ms ease-in;
	
	
}

.reserve input.fields{

	width:100%;
	

	display: block;
	
	background:none;
	border:1px solid white;
	padding:10px;
	color:white;
	margin-bottom:10px;
	
}


.sectionchoose{
	

	margin:20px 0px;
}
input[type='checkbox']


{

	display:inline-block;
	
	background:none;
	border:1px solid white;
	margin-right: 20px;
	
	


}
.is-open{
	

opacity:1;
z-index:500;

}

.animate{
	-webkit-transform: translateY(250px);
	   -moz-transform: translateY(250px);
	    -ms-transform: translateY(250px);
	     -o-transform: translateY(250px);
	        transform: translateY(250px);
	
	margin-left:30%;
	
	


}

.orgin{

	transform: translate(0%,0%);
	

}

.submit{
	
	width:100%;
	background:#00a651;
	padding:10px 0px;
	text-align: center;
	border:none;
	color:white;
	
	
	
}

.slide{
	

	-webkit-transform: translate(0px,40px);
	   -moz-transform: translate(0px,40px);
	    -ms-transform: translate();
	     -o-transform: translate(0px,40px);
	        transform: translate(0px,40px);
}

.content{
	
	padding: 20px 0px;
}


.content h1{
	
	margin-bottom:20px;
	text-transform:uppercase;
	
}

.seminar{
	

}

.seminar h3{


	margin-bottom:5px;
	font-size:26px;
	


}

.seminar .date{


	margin-bottom:20px;
	display:block;
	color:#666;
	font-size:14px;

	


}

.seminar p{
	font-size:16px;
	line-height:32px;
	color:#444444;
	margin-bottom:10px;
}



.seminar hr{


	margin:20px 0px;
	display:block;
	font-weight: lighter;
	height: 1px;
	display: block;
	color:rgba(102,102,102,0.2)

	


}

 .seminar a{



	color:#666;
	font-size:14px;
	
	margin-right:10px;
	display: inline-block;

	


}

.seminar a:hover{


	color:black;
	
	

}

footer{
	
	background: #032659;
	color:white;
	padding:0px 20px;

}

.footnav a{
	
	text-decoration: none;
	display: inline-block;
	margin-right: 20px;
	text-decoration: none;
	color: #FFF;
	font-size: 14px;
}

.connect{
	

	
	margin-top: 30px;
}

.connect a{
	
	text-decoration: none;
	display: inline-block;
	margin-right: 20px;
	text-decoration: none;
	color: #FFF;
	font-size: 14px;
	
}


/* media*/

@media screen and (max-width: 960px){

	nav ul >li {
		
		display: block;
		margin-bottom: 10px;
		text-align: center;
		margin-right:0px;
	}

	ul.level1{
		position: static;



	}
	.rightnav {
		
		display: none;
	}

	.nav-toggle{

		display: flex;
		

	}


	.nav-links{
	
		display: none;
	}

	 ul.level1{

	/*background:rgba(0,0,0,0.6);*/
	background: #032659;
	display: none;
	width:100%;
	z-index:666;
	transiton:all 500ms eae-in;
	
	right:0;
	left:0;


	}

	nav ul>li:hover ul.level1{
		
		display:none;

	}



	



}


@media screen and (max-width: 740px){

	.select {
		
		
		text-align: center;
		
		font-size:0.6em;
		
		width:22%;
		
	}

	.bg{
		

		height:700px;
	}

	.schedule{

		width:70%;


	}

	.footnav.fl{

		float:none;
		


	}

	.connect.fr{

		float:none;
		
	

		

	}

	.connect{
		margin-top:5px;
		}



	footer{
		
		text-align: center;
		
		font-size:0.8em;
	}

	.reserve{
		

		width:85%;
	}

	.main{
		
		text-align: center;
	}


	

	



}
